/* Contatos */
#contatos{
    transition: 0.7s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-bottom: 4rem;
    list-style: none;

    /* Media query min-width:768px */
    @media screen and (min-width:768px){
        display: grid;
        grid-template-columns: 200px 200px;
    }

    /* Media query min-width:1024px */
    @media screen and (min-width:1024px){
        grid-template-columns: 200px 200px 200px 200px;
        gap: 50px; 
    }

    /* Link social */
    .linkSocial{
        text-decoration: none;
        min-height: 2rem;
        transition: 0.7s;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    
        cursor: pointer;

        /* Icon */
        & > svg{
            transition: 0.7s;
        }

        /* Color text */
        & > p{
            color: rgba(240, 240, 240, 0.808);
        }
    }
}
