@font-face {
    font-family: roboto;
    src: url('../../Fonts/Roboto/Roboto-Regular.ttf');
}

#container_home{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0C0F17;
    height: calc(100vh - 10vh);
}

/* Container apresentacao */
#container_apresentacao{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    border-bottom: 1px solid rgb(93, 43, 146);

    gap: 40px;

    padding-top: 10px;
    padding-bottom: 20px;
}

/* foto de perfil */
.fotoPerfil{
    height: 210px;
    width: 210px;

    border-radius: 50%;
    border: 3px solid black;
}

/* container_description */
#container_description{
    text-align: justify;
    color: white;
    font-family: roboto;

    width: calc(100% - 30px);
}

/* apresentacao */
#apresentacao h1{
    font-size: 45px;
    line-height: 30px;
    margin-bottom: 20px;
    color: white;
}

#apresentacao p{
    opacity: 0.7;
    margin-bottom: 10px;
}

#apresentacao{
    line-height: 25px;
    padding: 0px 5px;
    margin-bottom: 10px;
}

.texto-apresentacao{
    padding: 10px;
    
    text-align: justify;
    font-weight: lighter;
    opacity: 0.7;

    color: white;
}

/* link do meu curriculo */
.curriculo{
    text-decoration: none;
    font-family: roboto;
    font-size: 15px;

    border-radius: 3px;
    border: 1px solid rgb(49, 12, 78);
    box-shadow: 0px 0px 10px rgb(49, 12, 78);
    padding: 5px;
}

/* Sobre mim */
#container_sobremim{
    margin-top: 20px;
}