@font-face {
    font-family: roboto;
    src: url('../../Fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: montserrat;
    src: url('../../Fonts/Montsserat/Montserrat-SemiBold.otf');
}
#container_home{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0C0F17;
}

/* Container apresentacao */
#container_apresentacao{
    display: grid;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    gap: 30px;

    padding-top: 40px;
    padding-bottom: 40px;
}

/* foto de perfil */
.fotoPerfil{
    height: 210px;
    width: 210px;
    border-radius: 50%;
    border: 3px solid black;
    margin: auto;
    grid-area: 'fotoPerfil';

    transition: 0.7s;
}
.fotoPerfil:hover{
    height: 240px;
    width: 240px;
}
/* container_description */
#container_description{
    text-align: justify;
    color: white;
    font-family: roboto;

    width: calc(100% - 30px);

    grid-area: 'containerDescription';
}

/* apresentacao */
#apresentacao{
    line-height: 25px;
    padding: 0px 5px;
    margin-bottom: 10px;
}

/* apresentacao titulo */
#apresentacao h1{
    font-family: montserrat;
    font-size: 45px;
    line-height: 30px;
    margin-bottom: 20px;
    color: white;

    padding-left: 35px;
}

/* cargo */
#apresentacao p{
    opacity: 0.7;
    margin-bottom: 10px;

    padding-left: 35px;
}

/* container links pessoais */
#links_pessoais{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    grid-area: 'linksPessoais';
}

/* link do meu curriculo */
.links_informacao{
    text-decoration: none;
    font-family: roboto;
    font-size: 14px;

    border-radius: 20px;
    border: 1px solid rgb(95, 55, 125);
    box-shadow: 0px 0px 10px rgb(49, 12, 78);
    padding: 8px 10px;

    color: white;
    opacity: 0.7;

    transition: 0.7s;
}
/* whatssap_link */
.whatssap_link{
    text-decoration: none;
}

#curriculo{
    background-color: rgb(55, 15, 90);
}

/* Sobre mim */
#container_sobremim{
    padding-top: 40px;
    padding-bottom: 40px;
}

/* container titulo */
.container_titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* titulo sobremim */
.titulo{
    color: white;

    text-align: center;
    font-size: 20px;

    border-radius: 3px;

    background-color: rgba(49, 12, 78, 0.318);
    width: 200px;
    padding: 3px;
}

#container_texto{
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* texto sobre mim*/
.texto-apresentacao{
    padding: 10px;
    font-family: roboto;
    text-align: justify;
    font-weight: lighter;
    opacity: 0.7;

    color: white;

    font-size: 14px;

}

/* imagem ilustrativa*/
#imgIlustrativa{
    height: 200px;
    width: 300px;
    border-radius: 10%;

    display: none;
}


/* Habilidades css */
#mySkills{
    margin-top: 40px;

    display: grid;
    grid-template-columns: 50px 65px;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}


/* Projetos */
#container_projetos{
    padding: 40px 0px;
}

#projetos{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

/* CardProjeto */
.cardProjeto{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    gap: 20px;
    transition: 0.7s;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid blueviolet;

    box-shadow: 0px 0px 8px rgb(50, 13, 84);
}
.cardProjeto:hover{
    background-color: rgba(49, 12, 78, 0.318);
}
.cardProjeto > h5{
    font-size: 18px;
    color: white;
    text-align: justify;
}

.cardProjeto > p{
    font-size: 14px;
    word-break: keep-all;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    opacity: 0.6;
    height: 60px;
    display: flex;
    width: 250px;
}

.container_skills{
    display: flex;
    gap: 6px;
}

.container_skills > span{
    color: #7a4ae2e8;
    background-color: rgba(49, 12, 78, 0.473);
    padding: 5px;
    border-radius: 7px;
}

.imgProjeto{
    border-radius: 8px;
    height: 180px;
}

.cardProjeto > video{
    border-radius: 8px;
    height: 180px;
}

/* width 481px */
@media screen and (min-width:481px){
    /* container_apresentacao */
    #container_apresentacao{
        display: grid;
        justify-content: space-around;
        gap: 0px;
        padding-top: 15vh;
        padding-bottom: 10vh;
        padding-right: 20px;
        padding-left: 20px;

        grid-template-areas: 
        'containerDescription fotoPerfil '
        'linksPessoais .';

        grid-template-columns: 250px 240px;
    }

    /* descricao */
    #container_description{
        width: 200px;
        grid-column: 1;
    }

    /* h1 da apresentacao */
    #apresentacao h1{
        font-size: 45px;
        line-height: 35px;
    }

    /* p da apresentacao */
    #apresentacao p{
        margin-bottom: 0px;
    }

    /* foto de perfil*/
    .fotoPerfil{
        height: 230px;
        width: 230px;
        display: block;

        grid-column: 2;
        grid-row: 1;
    }

    #links_pessoais{
        gap: 10px;
        width: 300px;
    }
}

/* width 768px */
@media screen and (min-width:768px) {

    /* container Apresentacao*/
    #container_apresentacao{
        padding-left: 0px;
        padding-right: 0px;

        grid-template-columns: 250px 250px;
    }

    /* Habilidades css */
    #mySkills{
        display: grid;
        grid-template-columns: 100px 100px 100px 100px;
    }

    #projetos{
        display: grid;
        grid-template-columns: 300px 300px;
    }
}

@media screen and (min-width:1024px){


    #container_apresentacao{
        grid-template-columns: 500px 300px;
        justify-content: space-between;
        padding-left: 100px;
        padding-right: 100px;

        transition: 1s;
        transition-timing-function: ease;
    }

    .links_informacao{
        padding: 10px 20px;
    }

    .links_informacao:hover{
        padding: 10px 10px;
        transition: 0.7s;

        background-color: rgb(106, 47, 157);
    }


    #container_texto{
        height: 250px;
    }

    /* imgIlustrativa */
    #imgIlustrativa{
        width: 350px;
        height: 250px;
    }

    .texto-apresentacao{
        font-size: 22px;
    }

    /* Habilidades css */
    #mySkills{
        gap: 70px;
        justify-content: center;
        align-items: center;
    }

    /* Projetos */
    #projetos{
        grid-template-columns: 300px 300px 300px;
        gap: 30px;
    }
}

@media screen and (min-width:1280px){
    /* projetos */
    #projetos{
        grid-template-columns: 300px 300px 300px 300px;
        gap: 30px;
    }
}