/* Sobre mim */
#container_sobremim {
    #container_texto{
        padding: 5px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 40px;

        /* Texto apresentação */
        .texto-apresentacao{
            padding: 10px;
            font-family: roboto;
            text-align: justify;
            font-weight: lighter;
        
            color: rgba(240, 240, 240, 0.712);
        
            font-size: 0.9rem;
        
        }

        @media screen and (min-width:1024px){
            height: 250px;
        
            .texto-apresentacao{
                font-size: 1.375rem;
            }
        }
    }
}