header{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10vh;
  padding: 0px 10px;

  background-color: #0C0F17;

  border-bottom: 1px solid rgba(93, 43, 146, 0.375);
}

#menu_desktop{
  display: none;
}

#sociais{
  display: flex;
  gap: 10px;
}

.icons{
  height: 30px;
  width: 30px;
}

@media screen and (min-width:481px){
  header{
    position: fixed;
    width: 100%;
  }
  /* ocultando a div sociais */
  #sociais{
    display: none;
  }
  /* menu desktop*/
  #menu_desktop{
    display: flex;
    gap: 20px;
  }

  #menu_desktop > a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
}