*{
  padding: 0;
  margin: 0;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #61519a #242424;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #242424;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #61519a;
    border-radius: 10px;
    border: 0px solid #ffffff;
  }

  ul{
    list-style: none;
  }